body {
    background-color: #1a1919;
    color: #ffffff;
}

.hero.is-primary {
    background: linear-gradient(to right, #4a00e0, #8e2de2);
}

.hero-body {
    padding: 5rem 1.5rem;
}

.section {
    padding: 1rem 1.5rem;
    background-color: #1a1919;
}

.card {
    background-color: #1a1a1a;
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    height: 100%;
    display: flex;
    flex-direction: column;
    transform: translateY(0);
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3), 0 10px 30px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.card-content {
    flex-grow: 1;
    background-color: #1a1a1a;
}

.card-footer {
    background-color: #1a1a1a;
}

.icon-text {
    display: flex;
    align-items: center;
}

.icon-text .icon {
    margin-right: 0.5rem;
}

.image.is-16by9 {
    padding-top: 56.25%;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 0;
    
}

.image.is-16by9 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   
   
}

.card-image {
    height: 0;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    position: relative;
    overflow: hidden;
}

.title, .subtitle, .content {
    color: #ffffff;
}

.card-footer-item {
    color: #3273dc;
    background-color: transparent;
}

.columns.mb-6 {
    margin-bottom: 3rem !important;
}

.button.is-link.is-outlined.is-large {
    border-color: #ffffff;
    color: #ffffff;
}

.button.is-link.is-outlined.is-large:hover {
    background-color: #ffffff;
    color: #4a00e0;
    border-color: #ffffff;
}

/* Footer styles */
.footer {
    background-color: #1a1a1a;
    padding: 2rem 1.5rem;
}

.footer .content {
    color: #ffffff;
}
